.bg-light-yellow {
    background-color: #f1ecb4;
    /* Cor amarela personalizada (exemplo de dourado) */
}

body {
    background-color: #e2f0fd;
}

.nav-link {
    color: black;               /* Cor normal do texto */
    text-decoration: none;      /* Remove o sublinhado */
    transition: color 0.3s ease, background-color 0.3s ease; /* Suaviza as transições */
    font-weight: 600 !important;    /* Aplica um negrito leve */
}

/* Estilo no hover */
/* Efeito no hover */
.nav-link:hover, 
.nav-link.active {
    color: #007561;            /* Cor do texto */
    background-color: #f0f0f0; /* Cor de fundo */
    text-decoration: none;      /* Remove sublinhado */
}
