body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.left-panel {
    background-color: #FFD700;
    padding: 80px;
    color: white;
    text-align: center;
}

.left-panel h2 {
    font-weight: bold;
}

.btn-custom {
    border: 2px solid white;
    color: white;
    background: none;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.btn-custom:hover {
    background: white;
    color: #FFD700;
}

.right-panel {
    background-color: white;
    padding: 80px;
}

.form-control {
    border-radius: 50px;
}

.btn-yellow {
    background-color: #FFD700;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
}

.btn-yellow:hover {
    background-color: #FFD700;
}

.transparent-icon {
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
}

.custom-password-box {
    border-radius: 0; /* Remove bordas arredondadas, deixando retangular */
    height: 40px; /* Define uma altura para tornar a caixa mais retangular */
}

.bg-light-yellow {
    background-color: #f1ecb4; /* Cor amarela personalizada (exemplo de dourado) */
}
.footer-shadow {
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}

.navbar-padding {
    padding-top: auto; /* Diminui o padding superior do link */
    padding-bottom: auto; /* Diminui o padding inferior do link */
}